@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

$color: black;

@mixin button {
  display: flex;
  border: 3px solid $color;
  border-bottom: 5px solid $color;
  border-right: 5px solid $color;
  padding: 2px;
  text-align: center;
  font-size: 15px;
}

@mixin display {
  display: flex;
  flex-direction: column;
}

.main-section {
  @include display;

  width: 90%;
  margin: auto;
  row-gap: 40px;
  padding: 25px;

  h1 {
    font-size: 40px;
  }

  .inner-container {
    display: flex;
    width: 90%;
    column-gap: 40px;

    .add-score {
      text-align: center;
      width: 50%;

      h2 {
        margin-bottom: 15px;
        font-size: 15px;
        font-weight: bold;
      }

      #form {
        @include display;

        row-gap: 10px;

        .input {
          height: 25px;
          border: 3px solid $color;
          padding-left: 10px;
        }

        ::placeholder {
          font-size: 12px;
          font-weight: bold;
          font-family: "poppins", sans-serif;
        }
      }

      button {
        @include button;

        align-self: flex-end;
      }
    }

    .score-list {
      width: 50%;

      @include display;

      .header {
        display: flex;
        width: 100%;
        column-gap: 40px;
        margin-bottom: 15px;
        justify-content: space-between;
        align-items: center;

        button {
          @include button;
        }

        h2 {
          font-size: 15px;
          font-weight: bold;
        }
      }

      .display-score {
        @include display;

        border: 3px solid $color;

        :nth-child(odd) {
          background-color: rgb(175, 173, 173);
        }

        .list-items {
          display: flex;
          font-size: 20px;
          align-items: center;
          padding-left: 10px;
          list-style-type: none;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .main-section {
    width: 60%;

    .inner-container {
      .add-score {
        h2 {
          font-size: 20px;
          font-weight: 700;
        }
      }

      .score-list {
        .header {
          h2 {
            font-weight: 700;
          }
        }

        .display-score {
          #loading {
            text-align: center;
            background-color: white;
            font-size: 20px;
          }
        }
      }
    }
  }
}
